/* === Formato body === */
body
{
    background-color: #FFF;
    font-family: serif, sans-serif;
    margin-left: 0px;
    margin-top: 2px;
    margin-right: 0px;
    margin-bottom: 0px;
}
/* === Formato tabla principal === */
table.principal
{
    background-color: #FFF;
    border:solid 2px #111166;
    width: 500px;
    height:100%;
}
table.principal_usrs
{
    background-color: #FFF;
    border:solid 2px #111166;
    border-bottom-style: solid 0px;
    width: 100%;
    height:100%;
}
td.login_top
{
    background-color: #111166;
    color: #FFFFFF;
    font-size: 11px;
    height:21px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
}
td.login_top strong
{
    color: #FFFF00;
}
.celda_borde 
{
    border:solid 1px #000000;
    font-family: Arial; 
    font-size: 8pt;  
}
/* borde negro solido */
.border-solido-n{
    border: 1px solid #000; 
    border-collapse: collapse;
}
/* === Menu === */
#menu 
{
	width:100%;
	height:100%;
	background:#111166;
	border: none;
}

#contenido 
{
	width:100%;
	height:100%;
	background:#FFFFFF;
	border: none;
}

/* === Formato titulos === */
.inicio_titulo {
    color: #000099;
    font-size: 16px;
    font-weight: bold;
}

/* === Login ===*/
.cerrarsesion {
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
}

div.inicio strong
{
    font-size: 11px;
    font-weight: bold;
    color: #000000;
}

.inicio_mensaje {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
}

.inicio_mensaje_datos{
    color: #000099;
    font-size: 12px;
    font-weight: bold;
}

.inicio_campos
{
    font-size: 12px;
    font-weight: bold;
    color: #0000AA;
    width: 170px;
}
/* === Relación de Correspondencia Recibida === */
.corres_etiqueta {
    font-family: Arial; 
    font-size: 9pt; 
    font-weight: bold; 
    color: #000000;  
    text-align: center
}
.corres_contenido {
    font-family: Arial; 
    font-size: 7pt; 
    font-weight: bold; 
    color: #000000;  
    text-align: center
}
/* === Formato de Formularios === */
.titulo {
    font-family: Arial; 
    font-size: 13pt; 
    font-weight: bold; 
    color: #FFFFFF; 
    background-color: #599bff; 
    text-align: center
}

.titulo_nomina {
    font-family: Verdana; 
    font-size: 10pt;  
    color: #000000;
	font-weight: bold; 
    text-align: center
}

.etiquetas_nomina {
    font-family: Arial; 
    font-size: 8pt; 
	font-weight: bold; 
    color: #000000; 
}

.etiquetas_nomina2 {
    font-family: Arial; 
    font-size: 8pt;  
    color: #000000; 
}
.impreso_nomina {
    font-family: Arial; 
    font-size: 5pt;  
    color: #000000; 
}
.detalles_egreso {
    font-family: Arial; 
    font-size: 7pt;  
    color: #000000; 
}
.etiquetas {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
}

.etiquetas_centradas {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.lista_tablas {
    color: #003366;
    font-size: 12px;
}

.tabla_total {
    font-family: Arial; 
    font-size: 13pt; 
    font-weight: bold;
    background-color: #cfcffb; 
}


/* === Formato para el pie de pagina === */
div.pagina_pie 
{
    color:#000000;
    font-size:9px;
    text-align:center;	
}

div.pagina_pie strong 
{
    color: #000099;
    font-weight:bold;
}

/* === Botones === */
.inicio_boton {
    height: 60px;
    width: 60px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000099;
}

.boton1{border-width:1px;
border-color:#FF00F0;
border-style:solid;
text-align:center;
font-weight:bold;
font-size:12pt;
font-family:arial;
background-color:#ABCDEF;
color:#123456;
}
/* === Nomina === */
.detallespago {
    font-family: Arial; 
    font-size: 8pt; 
}
.detallespago2 {
    font-family: Arial; 
    font-size: 7pt; 
}
.tablanomina {
    font-family: Arial; 
    font-size: 9px; 
}

.saltopagina {  
    page-break-after: always;  
}  

/* === Capa === */
div.capa {
	position:absolute;
	width:481px;
	height:115px;
	z-index:1;
	overflow:auto;
	background-color: #FFFFEC;
}
/* === Constancias === */
.constancias
{
    font-family: Arial; 
    font-size: 10pt;
    text-align:justify;   
	line-height:25px;
    border:solid 0px #FFFFFF;
    height:720px;
    width: 500px;
}
.constancias a
{
    font-weight: bold;
    color: #0000FF;
}

/* === busqueda varios === */
.linea0 {
    font-family: Arial; 
    font-size: 9pt;
    background-color: #f9f9f9;
}
.linea0:hover {
    font-family: Arial; 
    font-size: 9pt;
    color: #FFFFFF;
    background-color: #5f5fa7;
}

.linea1 {
    font-family: Arial; 
    font-size: 9pt;
    background-color: #d8e1ef;
}
.linea1:hover {
    font-family: Arial; 
    font-size: 9pt;
    color: #FFFFFF;
    background-color: #5f5fa7;
}

#detalle_fideicomiso {
  font-family:Arial;
  font-size: 8pt; 
  color: #000000;
}

#detalle_fideicomiso th{
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
}
#detalle_fideicomiso tr:nth-child(odd){
    background-color: #f9f9f9;
}
#detalle_fideicomiso tr:nth-child(even){
    background-color: #d8e1ef;
}
#detalle_fideicomiso tr:hover{
    background-color: #5f5fa7;
    color: #FFFFFF;
}


/* === Para imprimir === */
@media print {
 #print_no {
    display: none;
    }
#detalle_fideicomiso th {
    color: #000000;
}
}
