/* === Menu === */
.menu_titulo {
    height: 60px;
    width: 60px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFF00;
}

.ul {
    margin: 0px; padding: 0px; margin-bottom:20px;
    text-align: right;
}
.li
{
    list-style:none;
    font-size: 12px;
    color: #FFF;
    background: url(../imagenes/vineta.gif) no-repeat center right;
    padding-right: 15px;
}
.li a {
    color: #FF9; 
    font-weight: bold; 
    text-decoration: none; 
}
.li a:hover {
    color: #9FF;
    text-decoration: underline;
}
#fecha_hora
{
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    text-align: center;

}
#fecha_hora strong
{
    color: #9FF;
}
.reloj
{
    background:none;
    border:none;
    font-weight: bold;
    color: #FFFFFF;
    width: 95px;
}

