<span style='color: #000'>96 frames</span>	<span style='color: #900'>5,376 KB</span>	<span style='color: #090'>1,789.58 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />